.el-grapho-count {
  position: absolute;
  bottom: 1px;
  right: 12px;
  pointer-events: none;
  font-family: monospace;
  background-color: white;
  border-radius: 1px;
  padding: 1px;
  opacity: 0.9;

  &::selection {
    background: transparent; 
  }
}

.el-grapho-wrapper.el-grapho-dark-mode .el-grapho-count {
  background-color: black;
  color: white;
}